/* titillium-web-regular - latin */

html {
    display: block;
    overflow-x: hidden;
}

body,
html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    height: 100%;
    scroll-behavior: smooth;
    background: rgba(255, 255, 255, 1);
    /*background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(164, 205, 233, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(164, 205, 233, 1)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(164, 205, 233, 1) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(164, 205, 233, 1) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(164, 205, 233, 1) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(164, 205, 233, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#a4cde9', GradientType=1);*/
}

.w-40 {
    width: 40%
}

h1,
h2,
h3,
h4,
h5,
p {
    font-weight: 400;
}


/*.navbar-light .navbar-toggler-icon {
    background-image: url("../images/menu.png")
}*/

.container-fluid {
    padding: 0px;
}

.section {
    align-items: center;
    bottom: 0;
    display: flex;
}

.btn:hover {background-color: #1b5da9;
color: white;}

.bg_dark {
    background-color: #2d2d2d !important;
}

.dropdown-menu {
    background: #fff;
    border-width: none;
    border-style: none;
    border-color: none;
    -webkit-transition: background 3s ease-in-out, padding 3s ease-in-out, height 3s ease-in-out, color 3s ease-in-out, font-size 3s ease-in-out;
    -moz-transition: background 3s ease-in-out, padding 3s ease-in-out, height 3s ease-in-out, color 3s ease-in-out, font-size 3s ease-in-out;
    transition: background 3s ease-in-out, padding 3s ease-in-out, height 3s ease-in-out, color 3s ease-in-out, font-size 3s ease-in-out;
}

.navbar-light {
    background: none;
    position: fixed;
    z-index: 9999;
    width: 100%;
    /*border-bottom: 1px solid #fff;*/
    -webkit-transition: background 1.5s ease-in-out, padding 1.5s ease-in-out, height 1.5s ease-in-out, color 1.5s ease-in-out, font-size 1.5s ease-in-out;
    -moz-transition: background 1.5s ease-in-out, padding 1.5s ease-in-out, height 1.5s ease-in-out, color 1.5s ease-in-out, font-size 1.5s ease-in-out;
    transition: background 1.5s ease-in-out, padding 1.5s ease-in-out, height 1.5s ease-in-out, color 1.5s ease-in-out, font-size 1.5s ease-in-out;
}

.navbar-light svg {
    width: 30px;
    -webkit-transition: height 3s ease-in-out, padding 3s ease-in-out, width 3s ease-in-out, padding 3s ease-in-out;
    -moz-transition: height 3s ease-in-out, padding 3s ease-in-out, width 3s ease-in-out, padding 3s ease-in-out;
    transition: height 3s ease-in-out, padding 3s ease-in-out, width 3s ease-in-out, padding 3s ease-in-out;
}

.navbar-top-fade svg {
    width: 30px;
    -webkit-transition: height 3s ease-in-out, padding 3s ease-in-out, width 3s ease-in-out, padding 3s ease-in-out;
    -moz-transition: height 3s ease-in-out, padding 3s ease-in-out, width 3s ease-in-out, padding 3s ease-in-out;
    transition: height 3s ease-in-out, padding 3s ease-in-out, width 3s ease-in-out, padding 3s ease-in-out;
}

.collapse ul {
    background: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    -webkit-transition: background 3s ease-in-out, padding 3s ease-in-out, height 3s ease-in-out, color 3s ease-in-out, font-size 3s ease-in-out;
    -moz-transition: background 3s ease-in-out, padding 3s ease-in-out, height 3s ease-in-out, color 3s ease-in-out, font-size 3s ease-in-out;
    transition: background 3s ease-in-out, padding 3s ease-in-out, height 3s ease-in-out, color 3s ease-in-out, font-size 3s ease-in-out;
}

.navbar-top-fade .navbar-nav .nav-link {
    font-size: 1em;
    -webkit-transition: background 3s ease-in-out, padding 3s ease-in-out, height 3s ease-in-out, color 3s ease-in-out, font-size 3s ease-in-out;
    -moz-transition: background 3s ease-in-out, padding 3s ease-in-out, height 3s ease-in-out, color 3s ease-in-out, font-size 3s ease-in-out;
    transition: background 3s ease-in-out, padding 3s ease-in-out, height 3s ease-in-out, color 3s ease-in-out, font-size 3s ease-in-out;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .open>.nav-link {
    border-bottom: 2px solid #fff;
    border-radius: 0px !important;
    color:#fff;
}

.nav-pills .nav-item.show .nav-link,
.nav-pills .nav-link.active {
    background: none;
    color: #fff;
}

.nav-item a:hover {
    border-bottom: 2px solid #fff;
    background: none;
    border-radius: 0px !important;
}

.nav-item a:visited {
    color: none !important;
    background: none;
}

.dropdown-item.active,
.dropdown-item:active {
    background: none;
    color: #c86b35 !important;
}

.navbar-top-fade {
    background-color: #fff  !important ;
    -webkit-transition: background 3s ease-in-out, padding 3s ease-in-out, height 3s ease-in-out, color 3s ease-in-out, font-size 3s ease-in-out;
    -moz-transition: background 3s ease-in-out, padding 3s ease-in-out, height 3s ease-in-out, color 3s ease-in-out, font-size 3s ease-in-out;
    transition: background 3s ease-in-out, padding 3s ease-in-out, height 3s ease-in-out, color 3s ease-in-out, font-size 3s ease-in-out;
    padding: 0px;

    /*border-bottom: 1px solid #0774ac;*/
}

.collapse ul li a {
    -webkit-transition: background 3s ease-in-out, padding 3s ease-in-out, height 3s ease-in-out, color 3s ease-in-out, font-size 3s ease-in-out;
    -moz-transition: background 3s ease-in-out, padding 3s ease-in-out, height 3s ease-in-out, color 3s ease-in-out, font-size 3s ease-in-out;
    transition: background 3s ease-in-out, padding 3s ease-in-out, height 3s ease-in-out, color 3s ease-in-out, font-size 3s ease-in-out;
}

.navbar-top-fade .collapse ul li a {
    color: #000;
}

.navbar-light .navbar-brand {
    width: 22%;
    -webkit-transition: background 3s ease-in-out, padding 3s ease-in-out, height 3s ease-in-out, color 3s ease-in-out, font-size 3s ease-in-out;
    -moz-transition: background 3s ease-in-out, padding 3s ease-in-out, height 3s ease-in-out, color 3s ease-in-out, font-size 3s ease-in-out;
    transition: background 3s ease-in-out, padding 3s ease-in-out, height 3s ease-in-out, color 3s ease-in-out, font-size 3s ease-in-out;
}

.navbar-light .navbar-brand img {
    width: 90%;
}

.navbar-light .hidden-md-up img {
    width: 100%;
}

.navbar-top-fade .navbar-brand {
    width: 9%;
}

.navbar-top-fade .dropdown-menu {
    background: #fefefe;
}

.navbar-top-fade .navbar-nav .nav-link {
    font-size: 0.8em;
    color:#000
}

.navbar-top-fade .navbar-nav .active>.nav-link,
.navbar-top-fade .navbar-nav .nav-link.active,
.navbar-top-fade .navbar-nav .nav-link.open,
.navbar-top-fade .navbar-nav .open>.nav-link {
    border-bottom: 2px solid #000;
    border-radius: 0px !important;
    color:#000;
}

.navbar-top-fade .dropdown-menu {
    font-size: 0.8em;
}

.h2-detail {
    width: 100%;
}

.navbar .nav-pills .nav-link.active {
    background: none;
}

.navbar-top-fade .nav-pills .nav-link.active {
    background: none;
}

#suite,
#contact {
    background-color: transparent;
}

.img_bg1 {
    position: fixed;
    margin-top: 0px;
    left: 0;
    width: 120% ;
    transform: skewX(0deg);
    overflow: hidden;
    -webkit-transition: transform 1.5s ease-in-out, opacity 1s ease;
    -moz-transition: transform 1.5s ease-in-out, opacity 1s ease;
    transition: transform 1.5s ease-in-out,margin 1.5s ease-in-out, opacity 1s ease;
    }

.move{
    margin-top: -60px;
    transform: skewX(20deg);
    
    -webkit-transition: transform 1.5s ease-in-out;
    -moz-transition: transform 1.5s ease-in-out;
    transition: transform 1.5s ease-in-out,margin 1.5s ease-in-out;
}

.whitebackground{
    position:absolute;
    left: 0;
    width: 110%;
    overflow: hidden;
    }

.worldgif {
    position: absolute;
    width: 55%;
    margin-top: -250px;
    opacity: 0.1;
}

.lazy-3 {
    /*background-image: url("../images/image_bg1.png");*/
    background-color: white;
    min-height: 100%;
}

.lazy-bi1 {
    background-image: url("../images/bi-bg1.jpg");
    min-height: 100%;
}

.lazy-gis1 {
    background-image: url("../images/gis-bg1.jpg");
    min-height: 100%;
}

.lazy-4 {
    background-image: url("../images/all_bg.png");
}

.lazy-3 div {
    white-space: nowrap
}

.lazy-1-1 {
    background-image: url("../images/image_bg3.png");
    min-height: 60%;
}

.lazy-2-1 {
    background-image: url("../images/image_bg2.jpg");
    min-height: 60%;
}

#start {
    margin-top: 0px;
    padding-top: 0px
}

.lazy-3,
#services,
#bi-start,
#gis-start {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100%;
}

#suite {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#clients,
#own-services,
#partners,
#contact {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#clients,
#partners {
    background-color: #f6fbfd
}

#contact-bottom {
    background-color: #595959;
    color: #c1c1c1;
}

#contact-bottom a {
    
    color: #c1c1c1;
}

#contact-bottom a:hover {
    color: #fff;
}

#contact iframe {
    width: 100%;
}

.bg_blue {
    background-color: #1b5da9;
}

.light_blue {
    background-color: #f6fbfd
}

h2,
h1,
h3,
h4,
a {
    color: #1b5da9;
}

.h3_blue{
    color:#fff;
}

.h3_big_size {
    font-size: 300%;
}

.p_blue{
    color:#fff;
}

.p_big_size {
    font-size: 150%;
}
.gray {
    color: #211915;
}

.pos_icons h5 {
    color: #8acdea;
}

.pos_icons svg {
    fill: #8acdea;
}

.border_categorize {
    border: 1px solid #211915;
    border-radius: 40px;
}

.border_categorize:hover {
    -webkit-box-shadow: 1px 1px 16px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 16px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 16px 0px rgba(0, 0, 0, 0.75);
}

.carousel {
    background-color: transparent;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators li {
    background-color: rgba(0, 0, 0, 0.3);
}

.carousel-indicators .active {
    background-color: rgba(0, 0, 0, 1);
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block;
}

.separator-own,
.separator-own:hover,
.separator-own.active {
    border: none !important;
}

.carousel-control-prev{
    left:0px;
    background-color:transparent;
    width: 5%;
}
.carousel-control-next{
    right:0px;
    background-color: transparent;
    width: 5%;
}
.card {
    border:none;
}

.flip-card {
    background-color: transparent;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: none;
    color: black;
  }
  
  .flip-card-back {
    background-color: #ed6e29;
    color: #fff;
    transform: rotateY(180deg);
  }
  .flip-card-back h3{
    color: #fff;
  }
  
@media (max-width: 991.98px) {
    .bd-navbar .navbar-nav-scroll .navbar-nav {
        padding-bottom: 2rem;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
    .bd-navbar .navbar-nav-scroll {
        max-width: 100%;
        height: 2.5rem;
        margin-top: .25rem;
        overflow: hidden;
    }
    .bd-navbar .navbar-nav-scroll .navbar-nav {
        white-space: nowrap;
    }
    .lazy-3 {
        --margin-top: 50px;
        /*background-image: url("../images/image_bg1_mob.jpg");*/
        --min-height: 50%;
        background-attachment: inherit;
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
}

@media screen and (max-device-width:1300px),
screen and (max-width:1300px) {
    .h3_big_size {
        font-size: 250%;
    }
    
    
    .p_big_size {
        font-size: 120%;
    }
}

@media screen and (max-device-width:900px),
screen and (max-width:900px) {
    .h3_big_size {
        font-size: 200%;
    }
    
    
    .p_big_size {
        font-size: 100%;
    }
}

.h3_big{
    font-size: 2.5rem !important;
}

.h1_big{
    font-size: 4.5rem !important;
    font-weight: 600;
}

@media screen and (max-device-width:667px),
screen and (max-width:667px) {
    #bottom-image {
        background-image: none;
        background-color: #000;
    }
    .w-50 {
        width: 100% !important;
    }
    h1 {
        font-size: 1.5rem;
    }

    .h3_big_size {
        font-size: 175%;
    }
    
    
    .p_big_size {
        font-size: 100%;
    }

    
}

@keyframes inner_move {
    from {left:100%;}
    to {left:0%;}
}
@keyframes outer_move {
    from {left:0%;}
    to {left:100%;}
}